git+https://github.com/huggingface/diffusers.git
git+https://github.com/huggingface/transformers.git
safetensors
sentencepiece
git+https://github.com/huggingface/peft.git
numpy
Pillow>=11.1.0
jinja2
open3d